<div class="card-columns">
    <% @todos.each do |todo| %>
        <% if todo.completed? %>
        <div class="todo todo-completed card">
        <% else %>
        <div class="todo card">
        <% end %>
            <div class="card-header"><%= todo.item %></div>
            <div class="card-body">
                <%= todo.description %><br/>
                <%= link_to "#"+Category.find(todo.category_id).name, category_path(Category.find(todo.category_id)), class: "card-cat" %>
            </div>
            <div class="todo-links card-footer">
                <%= link_to "Edit", edit_todo_path(todo.id), class: "card-link" %> | 
                <%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: 'Are you sure to delete TODO item?' }, class: "card-link" %> | 
                <%= link_to todo.completed? ? "Incomplete" : "Complete", complete_todo_path(todo), method: :patch, class: "card-link" %>
            </div>
        </div>
    <% end %>
    <%= render "todos/form" %>
</div>
