<div calss="todo-wrapper">
    <h1>TODOs</h1>

    <% flash.each do |key, msg| %>
        <%= content_tag :div, msg, class: "flash", id: key %>
    <% end %>

    <% @todos.each do |todo|%>
        <ul>
            <li>
                <span class="todo_items"><%= todo.item%></span> 
                <button><%= link_to "Edit", edit_todo_path(todo.id)%></button>
                <button><%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </li>
        </ul>
    <%end%>

    <div class="create-form">
        <%= render "todos/form" %>
    </div>
</div>

<div class="cat-wrapper">
    <h3>Categories</h3>

    <% @categories.each do |cat|%>
        <ul>
            <li>
                <span class="cat"><%= link_to cat.name, category_path(cat) %></span> 
                <button><%= link_to "Edit", edit_category_path(cat)%></button>
                <button><%= link_to "Delete", category_path(cat), method: :delete, data: { confirm: 'Are you sure?' } %></button>
            </li>
        </ul>
    <%end%>
</div>


