
<h1>TODOs</h1>

<p>
  <strong>Category:</strong>
  <%= @category.name %><br/>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', category_path %>
</p>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, class: "flash", id: key %>
<% end %>


<div id="todos_wrapper">
  <%= render(@category.todos) || 'No todos in '+@category.name %>
  <div class="create-form">
    <%= render "todos/form" %>
  </div>
</div>


