
<h1>TODOs</h1>

<p>
  <strong>Category:</strong>
  <%= @category.name %><br/>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', category_path %>
</p>

<%= render "layouts/flash" %>
<%= render "todos/todo" %>

<div id="todos_wrapper">
</div>


